<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.js.smart.ui">

    <application
        android:name="com.js.smart.ui.UIApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"  >

        <activity
            android:name=".view.UIIndexActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Launcher"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.js.smart.ui.view.StartPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name="com.js.smart.ui.view.GuidePageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name="com.js.smart.ui.view.WebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.js.smart.ui.view.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

    </application>

</manifest>