<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.js.smart">


    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/img_start_page"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img_start_page"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name"
        tools:ignore="GoogleAppIndexingWarning">


    </application>


</manifest>