<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.js.smart.ui">

    <application>

        <activity android:name="com.js.smart.ui.view.StartPageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.js.smart.ui.view.GuidePageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.js.smart.ui.view.WebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.js.smart.ui.view.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

    </application>
</manifest>
